#rendimento{
    height: 80vh;
    max-width: 600px;
}
h2{
    font-size: 2rem;
    font-weight: 600;
    padding: 20px 0;
    text-align: center;
}

label{
    font-size: 1.2rem;
}

input{
    margin-bottom: 1rem;
    font: 1rem sans-serif;
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(44, 44, 44);
    color: var(--cor-texto);
    border: none;
    padding: 5px;
}

.btn{
    text-align: right;
    margin-right: 20px;
}

#btn_calcular_rendimento{
    background: var(--cor-degrade);
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

#btn_calcular_rendimento:hover{
    background: rgba(44, 44, 44);
    color: var(--cor-texto);
    border: none;
}