@import url(./rendimento_tecido.css);
@import url(./contato.css);

:root{
    --cor-texto: #ffffff;
    --cor-bg-div: #18181883;
    --cor-degrade: linear-gradient(97.54deg, #ff9900 35.49%, #fffb02 165.37%);
    --cor-fundo-nav: rgba(44, 44, 44, 0.932);
    --font-principal: Josefin Sans, sans-serif;
}

body {
    background: #000000 url(../imagens/bg1.jpg) top right no-repeat  fixed;
    background-size: cover;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

}
.nav-list li a{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--cor-texto);
    text-decoration: none;
    padding: 10px 30px;
    transition: 0.3s;
}

.nav-list_link:hover {
    opacity: 0.7;
    background: var(--cor-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo{
    width: 180px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-principal);
    background: var(--cor-fundo-nav);
    height: 8vh;
    min-height: 75px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

/* v Menu haamburguer */
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--cor-texto);
    margin: 8px;
    transition: 0.3s;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.container_section{
    background-color: var(--cor-bg-div);
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    font-family: var(--font-principal);
    color: var(--cor-texto);
    margin: 30px auto;
    padding: 10px;
}

.titulos{
    background: var(--cor-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textos{
    font-weight: 300;
    font-size: 1.2rem;
    text-indent: 10px;
}

.container_section > div > p {
    margin-top: 20px;
}

.sections_imagens{
    width: 100%;
}

#rendimento{
height: 450px;
}

#loc{
    width: 100%;
}


@media (max-width: 1100px) {

    body{
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 50vh;
        background: var(--cor-fundo-nav);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(105%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .nav-list li a{
        padding: 10px 7vw;
    }

    .mobile-menu {
        display: block;
    }

    #rendimento {
        height: 500px;
    }

    #section_contato {
        height: 350px;
    }

}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
       opacity: 0;
       transform: translateX(50px);
    }
    to {
       opacity: 1;
       transform: translateX(0px);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


