:root{
    --cor-texto: #ffffff;
    --cor-bg-div: #00000050;
    --cor-degrade: linear-gradient(97.54deg, #ff9900 35.49%, #fffb02 165.37%);
    --cor-fundo-nav: rgb(70, 70, 70);
    --font-principal: Josefin Sans, sans-serif;
}

body {
    background: #000000 url(../imagens/bg1.jpg) top right no-repeat  fixed;
    background-size: cover;
    height: 92vh;
    width: 100vw;
    overflow-x: hidden;
    
}
.nav-list li a{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--cor-texto);
    text-decoration: none;
    padding: 10px 30px;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
    background: var(--cor-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo{
    width: 180px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-principal);
    background: var(--cor-fundo-nav);
    height: 8vh;
    min-height: 75px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--cor-texto);
    margin: 8px;
    transition: 0.3s;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}


@media (max-width: 1100px) {

    body{
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 50vh;
        background: var(--cor-fundo-nav);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(105%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .nav-list li a{
        padding: 10px 7vw;
    }

    .mobile-menu {
        display: block;
    }

}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
       opacity: 0;
       transform: translateX(50px);
    }
    to {
       opacity: 1;
       transform: translateX(0px);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


